

<% simple_form_for [@user, @message] do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.input :user_id, as: :hidden, :input_html => { :value => current_user.id.to_s } %>
    <%= f.input :content %>

  </div>

  <div class="form-actions">
    <%= f.button :submit %>
  </div>
<% end %>




  <!-- je te fais juste le code , tkt pas pour les div et leur nom :p je t aime -->
