<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @message.user.first_name %>
</p>

<p>
  <strong>Description:</strong>
  <%= @message.content %>
</p>


<%= link_to 'Back', user_messages_path(@user) %>
