<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @quote.user.first_name %>
</p>

<p>
  <strong>Description:</strong>
  <%= @quote.description %>
</p>


<%= link_to 'Back', agency_path %>

