#description {
  background-color: #e1dddd;
  padding: 30px;
  border-radius: 3px;
  padding-bottom: 20px;
}

#photo {
  margin-top: -100px;
  border-radius: 3px;
}


.padded-product {
  margin-top: 35px;
}


#bottom-link {
  margin-top: 35px;
}

#photo {
      font-size: 22px;
}
#fontindex {
  background-color: white;
  padding: 30px;
  border-radius: 3px;
  padding-bottom: 20px;
}

/*** ajouter css img de la home = ligne/fleche orange si rendu est moche ***/



