body {
  font-family: 'open sans', sans-serif;
  color: #6f6e74;
  line-height: 20px;
  background-color: white;
}

h1 {
  color: #605e69;
  margin-top: 50px;
  margin-bottom: 30px;
}

input {
  border-radius: 2px;
}
