/* -------------------------------------
 * CSS code specific to home page
 * (margin/padding adjustments)
 * ------------------------------------- */
.banner-content h1 {
  margin-bottom: 35px;
  letter-spacing: 1px;
}

.feature{
  height: 300px;
  text-align: center;

}
.feature img{
  width: 70px;
}

.feature h3{
  font-size: 20px;
}

.padded-agency {
  background-color: #f5f3f5;
  margin-top: -100px;
}

