<nav class="navbar navbar-fixed-top">

    <!--Menu côté droit-->

    <div class="navbar-right">

      <a href="users/sign_in" class="navbar-item navbar-link btn btn-small" id="refe">Se référencer</a>
      <a href="#feature-container1" class="navbar-item navbar-link">À propos</a>
      <a href="users/sign-up" class="navbar-item navbar-link">Inscription</a>
      <a href="/users/sign_up" class="navbar-item navbar-link">Connexion</a>

    </div>


     <div class="navbar-left">

      <a href="#" class="navbar-item navbar-link" style="font-weight: bolder; font-size: 18px;">Devsolut</a>
      <%= image_tag "logo-dev.png", id: "navbar-logo" %>
     </div>
</nav>
