<%= link_to agency_path(agency) do %>

  <div class="agency-card">
    <%= cl_image_tag(agency.photo, height:  100, crop: :pad)  unless agency.photo.nil? %>

    <h2><%= agency.name %></h2>
    <p> <%= agency.short_description %></p>
    <div class="stars">
      <% agency.review_mean.to_i.times do %>
        <i class="fa fa-star"></i>
      <% end %>
    </div>
  </div>


 <% end %>
