<h1>comparaison</h1>

<div class="container">

<div class="row">
      <div class="col-xs-12 col-md-4">

<h4>Vos agences</h4>
        <% @agencies_name.each do |l| %>
          <h5><strong><%= l %></strong></h5>
        <% end %>

        <p>
          <%= link_to agencies_path, style: "font-size: 12px" do %>
            Changer de look
          <% end %>

        </p>

        <% @agencies.each do |key,value| %>
            <%= hidden_field_tag "agencies[#{key}]", value %>
        <% end %>
        <% raise %>

        <hr>



</div>

</div>
</div>



