<p id="notice"><%= notice %></p>

<% if @agencies.blank? %>
  <p class="padded text-center">
    Désolé, aucune agence ne correspond à votre recherche.
  </p>
<% else %>
  <div class="padded">
    <h1 class="text-center">Vos agences :</h1>
      <div class="container">
        <div class="row">
          <% @agencies.each do |agency| %>
            <div class="col-xs-12 col-md-4">
              <%= link_to agency_path(agency), class: 'link-agency-card' do %>
              <%= render "agencies/agency", :agency => agency %>
            </div>
        </div>
      </div>
      <% end %>
    <% end %>
  </div>
<% end %>

<%# link_to 'New Agency', new_agency_path %>
