<div class="agency-list">
  <div class="padded">
  <div class="container">
    <div class="row">
    <h1 class="text-center">Les agences suscesptibles de vous intéresser:</h1>
    <div class="separator">
    <div class="separator-line">
    </div>
    </div>
      <% @agencies.each do |agency| %>
        <div class="col-xs-12 col-md-4">
        <%= link_to agency_path(agency) do %>

          <%= render "agencies/agency", :agency => agency %>
          <% end %>
        </div>
      <% end %>
    </div>
  </div>

  </div>
  </div>
