  #footer {
    background: #444545;
    padding-top: 10px;
    padding-right: 20px;
    color: white;
    background-size: cover;
  }

      /**** Logos links ****/

      .list-inline .fa {
        font-size: 25px;
        letter-spacing: 1px;
        color: white;
        display: inline-block;
        margin-left: 20px;
        margin-bottom: 40px;
        margin-top: 20px;
      }

      .fa:hover {
        color: #d23333;
      }

      .text-right {
        margin-top: 20px;
      }
// Your footer style
