/******* Navbar *******/

.navbar {

  background-color: #fe5f55;
  transition: all 0.3s ease;
  height: $navbar-heigth;
  padding: 0px 30px;
  border-radius: 0px;
}


.navbar-fixed {
  position: fixed;
  left: 0px;
  top: 0px;
  z-index: 1;
  width: 100%;
  font-size: 50px;
  font-weight: lighter;
  letter-spacing: 1px;
  box-shadow: 0 0 2px;
  font-family: 'open sans', sans-serif;
}


.navbar a {
  color: white;
  font-size: 14px;
  margin-left: -25px;
  font-weight: normal;
  padding-left: 20px;
  margin-left: 15px;
}




.navbar-left {
  font-weight: bold;
  margin-top: 10px;
  text-decoration: none;
}


.navbar-right {
  align-items: center;
  margin-top: 12px;
  font-size: 15px;
  margin-right: -25px;
}


.navbar-item {
  flex: 0 1 auto;
  cursor: pointer;
  padding: 0 20px;
}


.navbar-link {
  color: #616668;
  font-size: 14px;
}


.navbar-link:hover {
  text-decoration: none;
}

.btn-small {
  border: 1px solid white;
  height: 32px;
  text-align: center;
  width: 150px;
  padding-top: 4px;
  margin-top: -20px;
}

.btn-small:hover {
  border: 1px solid white;
  background-color: #e1dddd;
  color: #616668;
}


#ref {
  border-color: #5776b6;
  margin-top: -30px;
}

#refe:hover {
  color: #616668;
}

#refe {
  margin-top: -2px;
}

#navbar-logo{
  width: 60px;
}
