.agency {
  background-color: #fe5f55;
  margin-right: 25px;
  margin-top: 15px;
  margin-left: -5px;
}


.agency h4 {
  font-size: 25px;
  margin-top: 20px;
  margin-bottom: 10px;
  text-align: left;
}


.agency p {
  color: white;
  font-size: 15px;
  margin-bottom: 25px;
  font-weight: lighter;
  text-align: left;
}


.agency ul {
  display: inline;
  margin-left: -25px;
}


.agency .fa-star {
  color: white;
  margin-bottom: 30px;
}


.agency .fa-star:hover {
  color: #9a9898;
}
