.banner{
  background-size: cover;
  width:100%;
  background-position: center;
  background-repeat: no-repeat;
  height: calc(100vh - 70px);
  display: flex;
  align-items: center;
  justify-content: center;
}
