.card-review{
  display: flex;
  flex-direction: column;
  height: 180px;
  width: 350px;
  justify-content: space-between;

  .card-title {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
}

.agency-card img{
  max-width: 200px;
  max-height: 200px;
}

.agency-card{
  background-color: white;
  border: 1px solid $gray-lighter;
  margin: 10px;
  padding: 10px;
  border-radius: 3px;
  box-shadow: 0 0 1px #cfcfcf;
  text-align: center;
  min-height: 300px;
}

.agency-card:hover{
  border: 1px solid $gray-light;
}

a.link-agency-card {
  text-decoration: none;
}

.agency-card a{
    text-decoration: none !important;
}

.agency-card a:hover{
  text-decoration: none;
}

.separator-card{
  border-color: #fe5f55;
  margin-left: 30px;
  margin-right: 30px;
}

.agency-card h2{
  font-size: 20px;
  margin-bottom: 10px;
  margin-top: 40px;
  color: $gray;
}

.agency-card p{
  text-decoration: none !important;
  color: #9a9898;
  font-size: 15px;
  margin-bottom: 25px;
  font-weight: lighter;
}

.agency-card p:hover{
  text-decoration: none;
}




