#description {
  background-color: #f5f3f5;
  border-radius: 3px;
  padding: 20px;
}

#description img {
  margin-left: 500px;
  border-radius: 10px;
}

#name-agency {
  margin-top: -80px;
  margin-bottom: 70px;
  font-size: 30px;
  font-weight: bold;
  margin-left: 15px;
}

#color{
  text-align: center;
}

.full {
  height: 250px;
  margin-bottom: -70px;
}

#bottom-link{
  margin-top: 20px;
  margin-bottom: -40px;
}
