#description {
  background-color: white;
  border-radius: 3px;
  padding: 20px;
  box-shadow: 0 0 1px;
}

#description img {
  border-radius: 10px;
}

#name-agency {
  font-size: 30px;
  font-weight: bold;
}

#color{
  text-align: center;
}

#bottom-link{
  margin-top: 20px;
  margin-bottom: -40px;
}
